@import "colors";
@import "screen-sizes";

.about2 {
    background: url("../../assets/images/bg7.jpg") right top no-repeat;
    padding: 5.625rem 0;
    .container {
        .wrapper {
            display: block;
            width: 41.25rem;
            color: $blue2;
            h4 {
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            .lead {
                font-size: 1.187rem;
                line-height: 1.937rem;
                margin-bottom: 2rem;
            }
            .text {
                font-size: 0.937rem;
                line-height: 1.625rem;
            }
        }
    }
}

@media (max-width: $big-screen) and (min-width: $medium-screen) {
    .about2 {
        background-image: none;
        padding: 0.625rem 0;
        .container {
            width: $medium-screen !important;
            .wrapper {
                text-align: center;
                h4 {
                }
                .lead {
                }
                .text {
                }
            }
        }
    }
}
