@import "colors";
@import "screen-sizes";

.about {
    background: url("../../assets/images/bg4.jpg") left top no-repeat;
    padding: 5.625rem 0;
    .container {
        justify-content: flex-end;

        .wrapper {
            display: block;
            width: 41.25rem;
            color: $blue2;

            h4 {
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            .lead {
                font-size: 1.187rem;
                line-height: 1.937rem;
                margin-bottom: 2rem;
            }
            .text {
                font-size: 0.937rem;
                line-height: 1.625rem;
            }
        }
    }
}




@media (max-width: $big-screen) and (min-width: $medium-screen) {
    .about {
        background-image: none;
        padding: 0.625rem 0;
        .container {
            width: $medium-screen !important;
            .wrapper {
                text-align: center;
                h4 {
                }
                .lead {
                }
                .text {
                }
            }
        }
    }
}
