@import "colors";

.contact{
    background-color: $pink;
    padding:4.375rem 0;
    .container{
        .wrapper{
            width: 28rem;
            color: $white;
            h4{
                text-transform: uppercase;
                margin-bottom: 1rem;

            }
            p{
                font-size: 0.937rem;
                line-height: 2.25rem;

            }
            a{
                text-decoration: underline;
                margin-bottom: 1rem;
                font-size: 0.937rem;
            }
        }
    }
}