@import "colors";
@import "screen-sizes";

.feature-article {
    background: url("../../assets/images/bg6.jpg") center top no-repeat;
    background-size: cover;
    padding-top: 22.5rem;
    padding-bottom: 5.625rem;
    .container {
        .wrapper {
            width: 33rem;
            .photo {
                display: block;
                width: 8.473rem;
                height: 2.187rem;
                border: 2px solid $white;
                border-radius: 1rem;
                text-align: center;
                font-size: 0.812rem;
                line-height: 2.187rem;
                font-weight: 600;
                margin-bottom: 1.562rem;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: #000;
                    background-color: $white;
                }
            }
            h3 {
                color: $white;
                font-weight: 400;
                line-height: 3.125rem;
                margin-bottom: 1.562rem;
            }
            .author {
                font-size: 0.812rem;
                font-weight: 600;
                span {
                    padding-left: 1rem;
                    position: relative;
                    bottom: 1rem;
                }
            }
        }
    }
}

@media (max-width: $big-screen) {
    .feature-article {
        padding-top: 9.5rem;
        padding-bottom: 3.625rem;
        .container {
            width: $medium-screen !important;
            .wrapper {
                h3 {
                    font-size: 1.8rem;
                }
            }
        }
    }
}

@media (max-width: $medium-screen) {
    .feature-article {
        padding-bottom: 1.625rem;
        .container {
            width: 100% !important;
            .wrapper {
                width: 23rem;
                text-align: center;
                .photo {
                    margin: 0 auto;
                }
                h3 {
                    font-size: 1.187rem;
                    margin: 0;
                }
            }
        }
    }
}
