@import "colors";
@import "screen-sizes";

.header {
    background: url("../../assets/images/bg1.jpg") center top no-repeat;
    background-size: cover;
    padding-bottom: 16rem;

    header {
        height: 6.437rem;
        border-bottom: 2px solid #412f3c;
        .container {
            .wrapper {
                justify-content: space-between;
                .logo {
                    .logo1 {
                        height: 1.25rem;
                        margin: auto 0;
                    }
                    .logo2 {
                        height: 0.687rem;
                        margin: auto 0 auto 0.625rem;
                    }
                }

                nav {
                    ul {
                        justify-content: space-between;
                        gap: 3.125rem;
                        li {
                            display: inline-block;

                            a {
                                display: block;
                                line-height: 6.125rem;
                                font-size: 0.812rem;
                                border-bottom: 3px solid transparent;
                                text-align: center;
                                transition: border-color 0.1s ease-in-out;
                                &:hover {
                                    border-color: $white;
                                }
                            }
                        }
                    }
                    form {
                        margin-left: 1.562rem;
                        line-height: 6.125rem;
                        position: relative;
                        input {
                            width: 13.75rem;
                            height: 2.5rem;
                            border-radius: 1.15rem;
                            padding: 0 0.875rem;
                            &:focus {
                                outline: none;
                            }

                            &::placeholder {
                                color: #626262;
                                font-size: 0.75rem;
                                text-transform: capitalize;
                            }
                        }
                        button {
                            position: absolute;
                            right: 0.687rem;
                            top: 2.7rem;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                        }
                    }
                    .small {
                        display: none;
                        position: relative;
                        left: 1rem;
                        top: 2.343rem;
                    }
                }
            }
        }
    }
    .container {
        .text {
            margin-top: 17.187rem;
            width: 31.875rem;
            text-align: right;
            color: $white;
            h1 {
                font-weight: 300;
                margin-bottom: 3.125rem;
            }
            a {
                display: inline-block;
                width: 17.5rem;
                height: 3.75rem;
                line-height: 3.75rem;
                font-weight: bold;
                background-color: $purple;
                text-align: center;
                text-transform: capitalize;
                border-radius: 1.875rem;
                font-size: 1.125rem;
                transition: background-color 0.3s ease-in-out;
                &:hover {
                    background-color: #631f93;
                }
            }
            p {
                margin-top: 1.25rem;
                font-size: 0.75rem;
            }
        }
    }
}

@media (max-width: $big-screen) {
    .header {
        padding-bottom: 7rem;
        header {
            .container {
                width: $medium-screen !important;
                .wrapper {
                    .logo {
                        display: none;
                    }
                    nav {
                        ul {
                            gap: 2.4rem;
                        }
                    }
                }
            }
        }
        .container {
            width: $medium-screen !important;
            .text {
                margin-top: 5.187rem;
                width: 16.875rem;
                h1 {
                    font-size: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                a {
                    width: 10.5rem;
                    height: 2.75rem;
                    line-height: 2.75rem;
                    font-size: 0.75rem;
                }
            }
        }
    }
}

@media (max-width: $medium-screen) {
    .header {
        padding-bottom: 4rem;
        header {
            .container {
                .wrapper {
                    .logo {
                    }
                    nav {
                        ul {
                            display: none;
                        }
                        form {
                            margin-left: 5rem;
                        }
                        .small {
                            display: block;
                        }
                    }
                }
            }
        }
        .container {
            width: 100% !important;
            .text {
                margin: 1.187rem auto 0 auto;
                text-align: center;
                h1 {
                }
                a {
                }
            }
        }
    }
}
