@import "colors";

.pink {
    background: url("../../assets/images/bg3.jpg") left top no-repeat , url("../../assets/images/bg32.png") center top no-repeat;
    background-size: cover;
    height: 33.75rem;
    .container {
        text-align: center;
        color: $white;
        h3 {
            font-size: 2.187rem;
            font-weight: 300;
            padding-top: 9.687rem;
        }
        p {
            padding-top: 1.25rem;
            padding-bottom: 1.875rem;
            font-size: 0.937rem;
            line-height: 1.625rem;
            width: 29.125rem;
            margin: 0 auto;
        }
        a {
            display: block;
            width: 21.25rem;
            height: 3.75rem;
            border-radius: 1.875rem;
            background-color: $white;
            color: #d54c63;
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 3.75rem;
            text-align: center;
            margin: 0 auto;
        }
    }
}